
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The Twelve-Factor App </title>
  <meta name="description" content="A methodology for building modern, scalable, maintainable software-as-a-service apps.">
  <meta name="author" content="Adam Wiggins">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="images/favicon.ico">

  <link rel="stylesheet" href="/css/screen.css" media="screen">
  <link rel="stylesheet" href="/css/mobile.css" media="screen">
  <link rel="stylesheet" href="/css/rsq7tro-d.css" media="screen">

  <script type="text/javascript" src="/js/rsq7tro.js"></script>
<!--  <script type="text/javascript">try{Typekit.load();}catch(e){}</script> -->
</head>
<body>


  <header>
    <h1><a href="./" title="The Twelve-Factor App">The Twelve-Factor App</a></h1>
  </header>

  <section class="abstract" id="factor">
  <article>

<h2 id="i_codebase">I. Codebase</h2>

<h3 id="one_codebase_tracked_in_revision_control_many_deploys">One codebase tracked in revision control, many deploys</h3>

<p>A twelve-factor app is always tracked in a version control system, such as <a href="http://git-scm.com/">Git</a>, <a href="http://mercurial.selenic.com/">Mercurial</a>, or <a href="http://subversion.apache.org/">Subversion</a>. A copy of the revision tracking database is known as a <em>code repository</em>, often shortened to <em>code repo</em> or just <em>repo</em>.</p>

<p>A <em>codebase</em> is any single repo (in a centralized revision control system like Subversion), or any set of repos who share a root commit (in a decentralized revision control system like Git).</p>

<p><img src="/images/codebase-deploys.png" alt="One codebase maps to many deploys" /></p>

<p>There is always a one-to-one correlation between the codebase and the app:</p>

<ul>
<li>If there are multiple codebases, it’s not an app – it’s a distributed system. Each component in a distributed system is an app, and each can individually comply with twelve-factor.</li>

<li>Multiple apps sharing the same code is a violation of twelve-factor. The solution here is to factor shared code into libraries which can be included through the <a href="./dependencies">dependency manager</a>.</li>
</ul>

<p>There is only one codebase per app, but there will be many deploys of the app. A <em>deploy</em> is a running instance of the app. This is typically a production site, and one or more staging sites. Additionally, every developer has a copy of the app running in their local development environment, each of which also qualifies as a deploy.</p>

<p>The codebase is the same across all deploys, although different versions may be active in each deploy. For example, a developer has some commits not yet deployed to staging; staging has some commits not yet deployed to production. But they all share the same codebase, thus making them identifiable as different deploys of the same app.</p>

  </article>
</section>

<section class="concrete">
  <nav>
    <div id="locales"><a href="/pt_br/codebase">Brazilian Portuguese (pt_br)</a> | <a href="/es/codebase">Español (es)</a> | <a href="/zh_cn/codebase">简体中文 (zh_cn)</a> | <a href="/ko/codebase">한국어 (ko)</a> | <a href="/ja/codebase">日本語 (ja)</a> | <a href="/it/codebase">Italiano (it)</a> | <a href="/de/codebase">Deutsch (de)</a> | <span>English (en)</span> | <a href="/ru/codebase">Русский (ru)</a> | <a href="/fr/codebase">Français (fr)</a></div>
    <div id="prev"></div>
    <div id="next"><a href="./dependencies">Next &raquo;</a></div>
  </nav>
</section>


  <footer>
  <div id="locales"><a href="/pt_br/codebase">Brazilian Portuguese (pt_br)</a> | <a href="/es/codebase">Español (es)</a> | <a href="/zh_cn/codebase">简体中文 (zh_cn)</a> | <a href="/ko/codebase">한국어 (ko)</a> | <a href="/ja/codebase">日本語 (ja)</a> | <a href="/it/codebase">Italiano (it)</a> | <a href="/de/codebase">Deutsch (de)</a> | <span>English (en)</span> | <a href="/ru/codebase">Русский (ru)</a> | <a href="/fr/codebase">Français (fr)</a></div>
  <div><a href="https://github.com/sethbergman/12-Factor" target="_blank">Source Code</a></div>
  <div><a href="http://sethbergman.com" target="_blank">SethBergman.com</a></div>
  <div><a href="https://github.com/sethbergman" target="_blank">Github Profile</a></div>
</footer>
</body>
</html>
