<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The Twelve-Factor App </title>
  <meta name="description" content="A methodology for building modern, scalable, maintainable software-as-a-service apps.">
  <meta name="author" content="Adam Wiggins">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="http://12factor.stackriot.com/images/favicon.ico">

  <link rel="stylesheet" href="http://12factor.stackriot.com/css/screen.css" media="screen">
  <link rel="stylesheet" href="http://12factor.stackriot.com/css/mobile.css" media="screen">
  <link rel="stylesheet" href="http://12factor.stackriot.com/css/rsq7tro-d.css" media="screen">

  <script type="text/javascript" src="http://12factor.stackriot.com/js/rsq7tro.js"></script>
<!--  <script type="text/javascript">try{Typekit.load();}catch(e){}</script> -->
</head>
<body>


  <header>
    <h1><a href="./" title="The Twelve-Factor App">The Twelve-Factor App</a></h1>
  </header>

  <section class="abstract" id="factor">
  <article>

<h2 id="viii_concurrency">VIII. Concurrency</h2>

<h3 id="scale_out_via_the_process_model">Scale out via the process model</h3>

<p>Any computer program, once run, is represented by one or more processes. Web apps have taken a variety of process-execution forms. For example, PHP processes run as child processes of Apache, started on demand as needed by request volume. Java processes take the opposite approach, with the JVM providing one massive uberprocess that reserves a large block of system resources (CPU and memory) on startup, with concurrency managed internally via threads. In both cases, the running process(es) are only minimally visible to the developers of the app.</p>

<p><img src="http://12factor.stackriot.com/images/process-types.png" alt="Scale is expressed as running processes, workload diversity is expressed as process types." /></p>

<p><strong>In the twelve-factor app, processes are a first class citizen.</strong> Processes in the twelve-factor app take strong cues from <a href="http://adam.heroku.com/past/2011/5/9/applying_the_unix_process_model_to_web_apps/">the unix process model for running service daemons</a>. Using this model, the developer can architect their app to handle diverse workloads by assigning each type of work to a <em>process type</em>. For example, HTTP requests may be handled by a web process, and long-running background tasks handled by a worker process.</p>

<p>This does not exclude individual processes from handling their own internal multiplexing, via threads inside the runtime VM, or the async/evented model found in tools such as <a href="http://rubyeventmachine.com/">EventMachine</a>, <a href="http://twistedmatrix.com/trac/">Twisted</a>, or <a href="http://nodejs.org/">Node.js</a>. But an individual VM can only grow so large (vertical scale), so the application must also be able to span multiple processes running on multiple physical machines.</p>

<p>The process model truly shines when it comes time to scale out. The <a href="./processes">share-nothing, horizontally partitionable nature of twelve-factor app processes</a> means that adding more concurrency is a simple and reliable operation. The array of process types and number of processes of each type is known as the <em>process formation</em>.</p>

<p>Twelve-factor app processes <a href="http://dustin.github.com/2010/02/28/running-processes.html">should never daemonize</a> or write PID files. Instead, rely on the operating system’s process manager (such as <a href="http://upstart.ubuntu.com/">Upstart</a>, a distributed process manager on a cloud platform, or a tool like <a href="http://blog.daviddollar.org/2011/05/06/introducing-foreman.html">Foreman</a> in development) to manage <a href="./logs">output streams</a>, respond to crashed processes, and handle user-initiated restarts and shutdowns.</p>

  </article>
</section>

<section class="concrete">
  <nav>
    <div id="prev"><a href="./port-binding">&laquo; Previous</a></div>
    <div id="next"><a href="./disposability">Next &raquo;</a></div>
  </nav>
</section>


  <footer>
  <div><a href="https://github.com/sethbergman/12factor-python" target="_blank">Source Code</a></div>
  <div><a href="http://sethbergman.com" target="_blank">SethBergman.com</a></div>
  <div><a href="https://github.com/sethbergman" target="_blank">Github Profile</a></div>
</footer>
</body>
</html>
