<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The Twelve-Factor App </title>
  <meta name="description" content="A methodology for building modern, scalable, maintainable software-as-a-service apps.">
  <meta name="author" content="Adam Wiggins">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="http://12factor.stackriot.com/images/favicon.ico">

  <link rel="stylesheet" href="http://12factor.stackriot.com/css/screen.css" media="screen">
  <link rel="stylesheet" href="http://12factor.stackriot.com/css/mobile.css" media="screen">
  <link rel="stylesheet" href="http://12factor.stackriot.com/css/rsq7tro-d.css" media="screen">

  <script type="text/javascript" src="http://12factor.stackriot.com/js/rsq7tro.js"></script>
<!--  <script type="text/javascript">try{Typekit.load();}catch(e){}</script> -->
</head>
<body>


  <header>
    <h1><a href="./" title="The Twelve-Factor App">The Twelve-Factor App</a></h1>
  </header>

  <section class="abstract" id="factor">
  <article>

<h2 id="ii_dependencies">II. Dependencies</h2>

<h3 id="explicitly_declare_and_isolate_dependencies">Explicitly declare and isolate dependencies</h3>

<p>Most programming languages offer a packaging system for distributing support libraries, such as <a href="http://www.cpan.org/">CPAN</a> for Perl or <a href="http://rubygems.org/">Rubygems</a> for Ruby. Libraries installed through a packaging system can be installed system-wide (known as “site packages”) or scoped into the directory containing the app (known as “vendoring” or “bundling”).</p>

<p><strong>A twelve-factor app never relies on implicit existence of system-wide packages.</strong> It declares all dependencies, completely and exactly, via a <em>dependency declaration</em> manifest. Furthermore, it uses a <em>dependency isolation</em> tool during execution to ensure that no implicit dependencies “leak in” from the surrounding system. The full and explicit dependency specification is applied uniformly to both production and development.</p>

<p>For example, <a href="http://gembundler.com/">Gem Bundler</a> for Ruby offers the <code>Gemfile</code> manifest format for dependency declaration and <code>bundle exec</code> for dependency isolation. In Python there are two separate tools for these steps – <a href="http://www.pip-installer.org/en/latest/">Pip</a> is used for declaration and <a href="http://www.virtualenv.org/en/latest/">Virtualenv</a> for isolation. Even C has <a href="http://www.gnu.org/s/autoconf/">Autoconf</a> for dependency declaration, and static linking can provide dependency isolation. No matter what the toolchain, dependency declaration and isolation must always be used together – only one or the other is not sufficient to satisfy twelve-factor.</p>

<p>One benefit of explicit dependency declaration is that it simplifies setup for developers new to the app. The new developer can check out the app’s codebase onto their development machine, requiring only the language runtime and dependency manager installed as prerequisites. They will be able to set up everything needed to run the app’s code with a deterministic <em>build command</em>. For example, the build command for Ruby/Bundler is <code>bundle install</code>, while for Clojure/<a href="https://github.com/technomancy/leiningen#readme">Leiningen</a> it is <code>lein deps</code>.</p>

<p>Twelve-factor apps also do not rely on the implicit existence of any system tools. Examples include shelling out to ImageMagick or <code>curl</code>. While these tools may exist on many or even most systems, there is no guarantee that they will exist on all systems where the app may run in the future, or whether the version found on a future system will be compatible with the app. If the app needs to shell out to a system tool, that tool should be vendored into the app.</p>

  </article>
</section>

<section class="concrete">
  <nav>
    <div id="prev"><a href="./codebase">&laquo; Previous</a></div>
    <div id="next"><a href="./config">Next &raquo;</a></div>
  </nav>
</section>


  <footer>
  <div><a href="https://github.com/sethbergman/12factor-python" target="_blank">Source Code</a></div>
  <div><a href="http://sethbergman.com" target="_blank">SethBergman.com</a></div>
  <div><a href="https://github.com/sethbergman" target="_blank">Github Profile</a></div>
</footer>
</body>
</html>
