<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The Twelve-Factor App </title>
  <meta name="description" content="A methodology for building modern, scalable, maintainable software-as-a-service apps.">
  <meta name="author" content="Adam Wiggins">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="images/favicon.ico">

  <link rel="stylesheet" href="/css/screen.css" media="screen">
  <link rel="stylesheet" href="/css/mobile.css" media="screen">
  <link rel="stylesheet" href="/css/rsq7tro-d.css" media="screen">

  <script type="text/javascript" src="/js/rsq7tro.js"></script>
<!--  <script type="text/javascript">try{Typekit.load();}catch(e){}</script> -->
</head>
<body>


  <header>
    <h1><a href="./" title="The Twelve-Factor App">The Twelve-Factor App</a></h1>
  </header>

  <section class="abstract" id="factor">
  <article>

<h2 id="vi_processes">VI. Processes</h2>

<h3 id="execute_the_app_as_one_or_more_stateless_processes">Execute the app as one or more stateless processes</h3>

<p>The app is executed in the execution environment as one or more <em>processes</em>.</p>

<p>In the simplest case, the code is a stand-alone script, the execution environment is a developer’s local laptop with an installed language runtime, and the process is launched via the command line (for example, <code>python my_script.py</code>). On the other end of the spectrum, a production deploy of a sophisticated app may use many <a href="./concurrency">process types, instantiated into zero or more running processes</a>.</p>

<p><strong>Twelve-factor processes are stateless and <a href="http://en.wikipedia.org/wiki/Shared_nothing_architecture">share-nothing</a>.</strong> Any data that needs to persist must be stored in a stateful <a href="./backing-services">backing service</a>, typically a database.</p>

<p>The memory space or filesystem of the process can be used as a brief, single-transaction cache. For example, downloading a large file, operating on it, and storing the results of the operation in the database. The twelve-factor app never assumes that anything cached in memory or on disk will be available on a future request or job – with many processes of each type running, chances are high that a future request will be served by a different process. Even when running only one process, a restart (triggered by code deploy, config change, or the execution environment relocating the process to a different physical location) will usually wipe out all local (e.g., memory and filesystem) state.</p>

<p>Asset packagers (such as <a href="http://documentcloud.github.com/jammit/">Jammit</a> or <a href="http://django-compressor.readthedocs.org/">django-compressor</a>) use the filesystem as a cache for compiled assets. A twelve-factor app prefers to do this compiling during the <a href="./build-release-run">build stage</a>, such as the <a href="http://guides.rubyonrails.org/asset_pipeline.html">Rails asset pipeline</a>, rather than at runtime.</p>

<p>Some web systems rely on <a href="http://en.wikipedia.org/wiki/Load_balancing_%28computing%29#Persistence">“sticky sessions”</a> – that is, caching user session data in memory of the app’s process and expecting future requests from the same visitor to be routed to the same process. Sticky sessions are a violation of twelve-factor and should never be used or relied upon. Session state data is a good candidate for a datastore that offers time-expiration, such as <a href="http://memcached.org/">Memcached</a> or <a href="http://redis.io/">Redis</a>.</p>

  </article>
</section>

<section class="concrete">
  <nav>
    <div id="prev"><a href="./build-release-run">&laquo; Previous</a></div>
    <div id="next"><a href="./port-binding">Next &raquo;</a></div>
  </nav>
</section>


  <footer>
  <div><a href="https://github.com/sethbergman/12-Factor" target="_blank">Source Code</a></div>
  <div><a href="http://sethbergman.com" target="_blank">SethBergman.com</a></div>
  <div><a href="https://github.com/sethbergman" target="_blank">Github Profile</a></div>
</footer>
</body>
</html>
